body {
  width: 80%;
  margin: auto;
  background-color: white;
}
/* #navbar {
  width: 100%;
} */
/* top navbar css */
#top_nav {
  /* border: 1px solid red; */
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
select,
a {
  margin: 0px 10px;
  text-decoration: none;
  border: none;
}

/* middlenavbar css */

#middle_nav {
  display: flex;
  justify-content: space-between;
}
#icon {
  width: 15%;
  margin-right: 50px;
}
#icon > img {
  width: 100%;
}
#search {
  border: 2px solid #fbd900;
  width: 30%;
  height: 30px;
  position: relative;
  top: 15px;
  padding: 0px;
  background-color: #fbd900;
  border-radius: 20px;
  display: flex;
  margin-bottom: 40px;
}

#search > #s_select {
  background-color: transparent;
  padding: 0px 5px;
  margin-left: 0px;
  border-radius: 20px;
}
#search > #s_bar {
  border: none;
  padding: 0px 10px;
  width: 100%;
}
#s-btn {
  border: none;
  background-color: transparent;
  width: 30px;
  height: 30px;
  margin: 0px 10px;
}
#s-btn:hover {
  cursor: pointer;
}
#s-btn > img {
  width: 500%;
  position: relative;
  top: -18px;
  left: -27px;
  padding: 0px;
}

#options {
  /* border: 1px solid red; */
  margin-right: 10%;
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
  width: 20%;
  padding: 0px 5px;
}
#options > div {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  margin-top: 25px;
  padding: 0px 10px;
  margin-left: -10%;
}
#options > div > a {
  width: 60px;
  margin-left: 5%;
}
#options > div > img {
  /* border: 1px solid blue; */
  width: 25px;
  height: 25px;
  margin-right: 5px;
}
#options > div > img:hover {
  background-color: #fbd900;
}

#categories {
  display: flex;
  width: 100%;
  /* border: 1px solid red; */
  background-color: #fbd900;
}
#categories > div {
  /* border: 1px solid red; */
  padding: 5px 5%;
}
#categories > div > a {
  font-size: 20px;
  font-weight: 600;
}
#categories > div > a {
  color: black;
}
#categories > div:first-child > a {
  color: white;
}

#categories > div {
  background-color: #fbd900;
}
#categories > div:first-child {
  background-color: black;
}

/* css for footer */
#footer {
  /* border: 1px solid red; */
  margin-top: 5%;
}
#footer > div {
  margin-bottom: 26px;
}
#footer1 {
  width: 100%;
  /* border: 1px solid red; */
  display: flex;
  gap: 20px;
  background-color: white;
}
#footer1 > div > h4 {
  text-align: center;
  margin-top: 5px;
}
#footer1 > div > h4:hover {
  color: #fbd900;
}
#footer1 > div > p {
  margin: auto;
  margin-top: -20px;
  width: 80%;
  text-align: center;
  /* border: 1px solid red; */
}
#footer_logo {
  width: 100%;
}
#footer1 > div > img {
  display: block;
  margin: auto;
}
#footer1 > div:first-child {
  margin-right: 5%;
}
#footer2 {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
  padding: 0px 10px;
}
#footer2 > div {
  display: flex;
  /* border: 1px solid blue; */
}
#footer2 > div:first-child > p {
  padding: 0px 10px;
}
#footer2 > div:first-child > input {
  padding: 0px 10px;
  width: 250px;
}
#subs_btn {
  margin: 0px;
  padding: 0px 50px;
  background-color: black;
  color: white;
  font-weight: bolder;
  font-size: 18px;
}

#social_icons > div {
  border: 1px solid black;
  margin: auto 10px;
  border-radius: 50%;
}
#social_icons > div:hover {
  background-color: red;
}
#social_icons > div:nth-child(1):hover {
  background-color: #38529a;
}
#social_icons > div:nth-child(2):hover {
  background-color: #1c81f7;
}
#social_icons > div:nth-child(6):hover {
  background-color: #1c81f7;
}
#social_icons > div:nth-child(7):hover {
  background-color: #1c81f7;
}
#social_icons > div > img {
  width: 20px;
  display: block;
  margin: auto;
  padding: 5px;
  align-items: center;
  border-radius: 50% 50% 50% 50%;
  /* background-color: yellow; */
}

#footer3 {
  display: flex;
  /* border: 1px solid red; */
  justify-content: space-between;
}
#footer3 > div {
  /* border: 1px solid red; */
  padding: 10px;
}
#footer3 > div > a {
  display: block;
  color: rgb(91, 87, 87);
  text-align: left;
}
#footer3 > div > h4 {
  text-align: left;
  margin-left: 10px;
}
#download_link {
  display: flex;
}
#download_link > div > img {
  width: 100px;
}
#app_store > a > img {
  width: 120px;
  margin: 2px;
  height: 50px;
}
#app_store > a {
  display: block;
  /* border: 1px solid red; */
  margin-top: -5px;
}
#footer4 {
  margin-top: 50px;
}
#footer4 > div {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

#footer4 > div > img {
  width: 80px;
  height: 40px;
  margin-bottom: 20px;
}
