

 #ash1{
    display: flex;
    gap: 20%;
 }

 #image{
    border: 2px solid black;
    border-radius: 15px;
 }

 #productInfo{
   cursor: pointer;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  column-gap: 50px;
  font-size: larger;
  font-weight: bold;
 }



 button{
    margin-top: 35%;
    height: 50px;
    width: 200px;
    font-size: large;
    font-weight: bold;
    background-color: green;
    cursor: pointer;

 }  
 
 p{

    margin-top: 10%;

 }

 #bag,#bag1{
   /* border: 1px solid red; */
   padding: 1px;
   font-size: 16px;
   color: red;
 }
 #options > div:nth-child(1)>p{
   /* border: 1px solid red; */
   overflow: hidden;
   width: 90px;
   padding-top: 10px;
 }














