* {
    margin: 0px;
    padding: 0px;
    font-family: "Open Sans", sans-serif;
  }
  /* #containertop1{
    margin-left: 950px;
  } */
  
  #container2 {
    width: 70%;
  height: 60px;
    overflow: hidden;
    display: flex;
    
    margin-left: 100px;
    justify-content: right;

    /* border: 1px solid green; */
  }
  
  #container2 div {
   width: 100%;
    /* border: 1px solid blue; */
    position: relative;
  
  }
  
  #container2 > div h3,
  p
   {
    text-align: center;
    margin-bottom: 2px;
    color: gray;
    /* font-size: 20px; */
  }
  #container2 > div h3,
  p:hover{
    color:black;
    font-size: 15px;
    cursor: pointer;
  }
  
  .child2 img {
    width: 50%;
    height: 40px;
    margin-left: 20%;
  /* border: 1px solid red;     */
}

  
  .child2 {
    display: none;
  }
  
 
  #containertop2 {
    /* margin-top: 400px; */

    display: flex;
    flex-direction: row;
    /* border: 1px solid olive; */
    width: 100%;
    height: 60px;
    justify-content: flex-end;
    margin: auto;
    margin-top: 10px;
  }
  
    #btnright2
   {
    width: 60px;
    height: 30px;
    /* border-radius: 50%; */
    border: transparent;
    margin-top: 15px;
    padding: 10px;
    background-color: transparent;
    font-weight: 900;
    cursor: pointer;
  }
  
  #btnleft2 {
    width: 60px;
    height: 30px;
    /* border-radius: 50%; */
    border: transparent;
    padding: 10px;
    margin-top: 15px;
    background-color: transparent;
    font-weight: 900;
    margin-right: -100px;
    cursor: pointer;
  }
  
  
  /* #containertop2 div:nth-child(1)+img{
    width: 50%;
  }
  
  #containertop2 div:nth-child(2)+img{
    width: 90%;
  } */

  #i1 img{
    position: relative;
    left: -40px;
    width: 100%;
    height: 100%;
    /* border: 1px solid darkgreen; */
 
}
  
  #i2 img{
    width: 100%;
    height: 100%;
    
    /* border: 1px solid darkgreen; */
 margin-left: 10px;
 position: relative;
    left: -20px; 
}
